<div class="circular">
    <circular-progress
      value="counter"
      max="60"
      orientation="1"
      radius="80"
      stroke="7"
      base-color="transparent"
      progress-color="#fff"
      iterations="60"
      animation="easeInOutCubic"
  ></circular-progress>
</div>


<div ng-hide="searching">
  <ng-include class="center-block img-responsive"  src="'../assets/meet_people.html'" ></ng-include>
</div>
<div ng-hide="foundRoom">
 {{message.message}} </br>
</br>
 {{reconnect}}
  
  <icecomm-connect audio="false" ></icecomm-connect>
</div>

  <icecomm-peer id="peer" ></icecomm-peer>
  <icecomm-local id="local"></icecomm-local/>
